## .NET / Visual Studio
bin/
obj/
[Dd]ebug/
[Rr]elease/
x64/
x86/
ARM64/
[Bb]in/
[Oo]bj/
*.user
*.suo
*.userosscache
*.sln.docstates
.vs/

## Build results
[Dd]ebugPublic/
[Rr]eleases/
[Bb]uilds/
artifacts/
publish/
AppPackages/
BundleArtifacts/
*.appx
*.appxbundle
*.msix
*.msixbundle

## Rider
.idea/

## Misc
*.log
